{% extends 'base.html.twig' %}

{# {% block title %}Bizikletak-Home{% endblock %} #}

{% block body %}
	<head>
		<meta charset="UTF-8">
		<title>Bizikletak</title>
	</head>

	<h1>Hello !
	</h1>
	{% for bike in allBikes %}
		<h4>-
			<a href="{{ path('gender_show', {'id': bike.getGender.id}) }}">{{bike.getGender.name}}</a>
			<a href="{{ path('category_show', {'id': bike.getCategory.id}) }}">{{bike.getCategory.name}}</a>
			{{bike.name}}
		</h4>
	{% endfor %}
{% endblock %}
