{% extends 'base.html.twig' %}
{% block title %}Contact
{% endblock %}

{% block body %}
	{# 
			    {% for flashError in app.flashes('verify_email_error') %}
			        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
			    {% endfor %} #}

	{# {% if app.flashes %}
			<div class="alert alert-success" role="alert">Votre message a bien été envoyé</div>
			{% endif %} #}
		<h1>
	Contact
	</h1>
	{{ form_start(form) }}
        {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}{% endblock %}
