<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="/build/app.css">
		<script src="/build/app.js"></script>
		<meta charset="UTF-8">
		<title>
			{% block title %}Lolo à Vélo
			{% endblock %}
		</title>
		{# favicon in the onglet #}
		<link rel="icon" type="image/x-icon" alt="logo loloavelo" href="{{ asset('build/images/favicon.ico') }}"/>
		{% include "_topnav.html.twig" %}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{# Displays flash messages in a popup #}
		{% for message in app.flashes('success') %}
			<div class="container-fluid pt-3">
				<div class="alert alert-success">{{message}}</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('erreur') %}
			<div class="container-fluid pt-3">
				<div class="alert alert-danger">{{message}}</div>
			</div>
		{% endfor %}
		{% for message in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ message }}</div>
		{% endfor %}

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
