<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="/build/app.css">
		<script src="/build/app.js"></script>
		<meta charset="UTF-8">
		<title>
			{% block title %}Ongi etorri !
			{% endblock %}
		</title>
		<a class="navbar-brand" href="{{ path('home') }}"> <img class="navbar-logo" src="{{ asset('build/images/loloavelo.png') }}" alt="logo loloavelo">Bizikletak </a> 
		<link rel="icon" type="image/x-icon" alt="logo loloavelo" href="{{ asset('build/images/favicon.ico') }}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
